* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
    transition: 0s;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #11111b;
    transition: 0.3s;
}

#workspaces button {
    padding: 5px;
    color: #ffffff;
    margin-right: 3px;
}

#workspaces button.active {
    color: #000000;
    background-color: #88ffff;
    border-radius: 20px;
}

#workspaces button.empty{
    color: #000000;
}

#workspaces button.focused {
    color: #88ff88;
    background: #eba0ac;
    border-radius: 20px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 20px;
}

#workspaces button:hover {
    background: #88ff88;
    color: #000000;
    border-radius: 20px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#custom-playerctl,
#mpris,
#backlight {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 0;
    margin-top: 5px;
    border: 1px solid #181825;
}

#custom-playerctl,
#mpris
{
    border-radius: 20px;
    color: #b2d4fa;
    margin-left: 5px;
}

#mpris.paused{
    color:#ff4444;   
}
#mpris.playing{
    color:#99ff99;   
}
#temperature {
    border-radius: 20px 0px 0px 20px;
}

#temperature.critical {
    color: #eba0ac;
}

@keyframes blink{
    to {
        background-color: #ff0000;
        color: #ffffff;
    }
}
#battery.critical:not(.charging)
/*#battery.warning:not(.charging)*/
{
    color: #ff0000;
    animation-name: blink;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    border-radius: 0px 20px 20px 0px;
    padding-right: 8px;
    margin-right: 8px;
}

#tray {
    border-radius: 20px;
    margin-right: 5px;
    padding: 0px 4px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 20px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    /*color: #fab387;*/
    color: #54ffff;
    border-radius: 20px;
    margin-left: 5px;
    border-right: 0px;
    transition: 0.3s;
    padding-left: 7px;
}

#network {
    color: #f9e2af;
    border-radius: 20px 0px 0px 20px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 20px;
    margin-right: 10px
} 

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 20px 0px 0px 20px;
    padding-left: 8px;
    margin-left:2px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 20px;
    border-right: 0px;
    margin-left: 5px;
}
